._mb_style-content {
  width: 80%;
  max-width: 600px;
  margin: 6.5em auto 3em;
  background: #ffffff;
  padding: 0;
  line-height: 1.4;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  /* reset this because the centering above it relies on centered alignment ... consider basing this on dir attr */
  text-align: left;
}
._mb_style-header {
  padding: 12px 10px 10px;
  font-size: 1.5em;
  line-height: 1.1;
  background: #e6e6e6;
}
._mb_style-header:focus {
  outline: 0px;
}
._mb_style-body {
  padding: 10px;
}
._mb_style-body:focus {
  outline: 0px;
}
._mb_style-footer {
  padding: 10px;
  background: #e6e6e6;
}
@keyframes _mb_loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
#_mb_uber {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 100%;
  min-width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.2s linear 0s, bottom 0s 0.2s;
  z-index: 5000;
}
#_mb_uber #_mb_fixed_wrap {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
  position: fixed;
  top: 0px;
  right: -2em;
  padding-right: 1em;
  bottom: 100%;
  left: 0px;
  min-width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  /* momentum */
}
#_mb_uber #_mb_fixed_wrap::-webkit-scrollbar {
  display: none;
}
#_mb_uber #_mb_rel_wrap {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
  position: relative;
  display: block;
  height: 100%;
  min-height: 100%;
  text-align: center;
}
#_mb_uber #_mb_rel_wrap:before {
  content: " ";
  display: inline-block;
  height: 70%;
  vertical-align: middle;
  /*margin-right: -0.075em;  Adjusts for spacing */
}
@media only screen and (max-width: 560px) {
  #_mb_uber #_mb_rel_wrap {
    padding: 0 10px;
  }
}
#_mb_uber #_mb_content_wrap {
  margin: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
  width: 80%;
  max-width: 600px;
  margin: 6.5em auto 3em;
  background: #ffffff;
  padding: 0;
  line-height: 1.4;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  /* reset this because the centering above it relies on centered alignment ... consider basing this on dir attr */
  text-align: left;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.5);
  transition: all 0.3s 0.2s;
}
@media only screen and (max-width: 560px) {
  #_mb_uber #_mb_content_wrap {
    width: 100%;
    margin-bottom: 50px;
  }
}
#_mb_uber #_mb_header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
  padding: 12px 10px 10px;
  font-size: 1.5em;
  line-height: 1.1;
  background: #e6e6e6;
}
#_mb_uber #_mb_header:focus {
  outline: 0px;
}
#_mb_uber #_mb_body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
  padding: 10px;
}
#_mb_uber #_mb_body:focus {
  outline: 0px;
}
#_mb_uber #_mb_footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
  padding: 10px;
  background: #e6e6e6;
}
#_mb_uber #_mb_confirm_wrap {
  text-align: right;
}
#_mb_uber #_mb_confirm_wrap:before,
#_mb_uber #_mb_confirm_wrap:after {
  content: " ";
  float: none;
  position: relative;
  display: table;
  clear: both;
}
#_mb_uber #_mb_confirm_wrap button:nth-child(1) {
  float: left;
  clear: none;
}
#_mb_uber ._mb_closeconfirm_wrap {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0%;
  opacity: 0;
  flex: 1 auto;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  overflow: hidden;
  z-index: 5000;
  transition: all 0.2s;
}
#_mb_uber ._mb_closeconfirm_wrap ._mb_closeconfirm_inner {
  display: none;
  flex: 1 auto;
}
#_mb_uber ._mb_closeconfirm_wrap button {
  margin: 0.5em;
}
#_mb_uber ._mb_close {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 0;
  background: #ffffff;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  cursor: pointer;
  line-height: 1;
  opacity: 0.95;
  transition: opacity 0.2s;
}
#_mb_uber ._mb_close span {
  display: inline-block;
  vertical-align: middle;
}
#_mb_uber ._mb_close:focus,
#_mb_uber ._mb_close:hover {
  opacity: 1;
}
#_mb_uber ._mb_close._mb_internal_close {
  position: absolute;
  right: 0px;
  bottom: 100%;
}
#_mb_uber ._mb_close._mb_external_close {
  display: none;
  position: fixed;
  right: 5px;
  top: 10px;
  opacity: 0.95;
}
@media only screen and (max-width: 560px) {
  #_mb_uber ._mb_close._mb_internal_close {
    display: none;
  }
  #_mb_uber ._mb_close._mb_external_close {
    display: block;
  }
}
#_mb_uber._mb_closeconfirm ._mb_closeconfirm_wrap {
  top: 0%;
  opacity: 1;
  height: 100%;
}
#_mb_uber._mb_closeconfirm ._mb_closeconfirm_wrap ._mb_closeconfirm_inner {
  display: block;
}
#_mb_uber._mb_show_me {
  opacity: 1;
  bottom: 0px;
  transition: opacity 0s linear 0.2s, bottom 0.2s 0s;
}
#_mb_uber._mb_show_me #_mb_fixed_wrap {
  bottom: 0px;
}
#_mb_uber._mb_show_me #_mb_content_wrap {
  transform: scale(1);
}
#_mb_uber.hide_narp #_mb_confirm_narp {
  display: none;
}
._ua_venue_phone #_mb_uber #_mb_fixed_wrap,
._ua_venue_tablet #_mb_uber #_mb_fixed_wrap,
._ua_webkit #_mb_uber #_mb_fixed_wrap {
  right: 0;
  padding-right: 2em;
}
._ua_venue_phone #_mb_rel_wrap,
._ua_venue_tablet #_mb_rel_wrap,
._ua_webkit #_mb_rel_wrap {
  padding-bottom: 50px;
}
